  :root {
      --primary: hsl(171, 100%, 41%);
      --secondary: hsl(0,0%, 71%);
  }
  
  body {
    background: var(--primary);
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  header {
    background: var(--secondary);
    padding: 30px 25px;
    border-bottom: 5px solid var(--primary);
    text-align: center;
  }